@model MVC_Cultuurhuis.Models.Voorstelling

@{
    ViewBag.Title = "Index";

    int aantal;
    if(Session[Model.VoorstellingsNr.ToString()] != null)
    {
        aantal = Convert.ToInt16(Session[Model.VoorstellingsNr.ToString()]);
    }
    else
    {
        aantal = 1;
    }

}


<div class="Header-index">
    <div class="Header-opaque">

    </div>
</div>

<div class="container">
    <br />
    <div class="alert alert-info">
        <h3>Kies het Aantal tickets voor deze voorstelling</h3>
    </div>

    @using (Html.BeginForm("Reserveren", "Voorstelling", new { id = Model.VoorstellingsNr },FormMethod.Post))
    {
        <div class="ReservatieForm">
            <div class="ReservatieForm-Labels">
                <p>@Html.LabelFor(m => m.Titel, "Voorstelling")</p>
                <p>@Html.LabelFor(m => m.Uitvoerders)</p>
                <p>@Html.LabelFor(m => m.Datum)</p>
                <p>@Html.LabelFor(m => m.Prijs)</p>
                <p>@Html.LabelFor(m => m.VrijePlaatsen)</p>
                <p>@Html.Label("Plaatsen")</p>

            </div>

            <div class="ReservatieForm-Values">
                <p>@Html.DisplayFor(m => m.Titel)</p>
                <p>@Html.DisplayFor(m => m.Uitvoerders)</p>
                <p>@Html.DisplayFor(m => m.Datum)</p>
                <p>@Html.DisplayFor(m => m.Prijs)</p>
                <p>@Html.DisplayFor(m => m.VrijePlaatsen)</p>

                @*<input value="1" required="required" min="1" max="@Model.VrijePlaatsen" type="number" name="aantalPlaatsen" class="form-control" data-val="true" data-val-range="Gelieve minimum 1 en maximum @{@Model.VrijePlaatsen} tickets te bestellen" data-val-range-max="1" data-val-range-max="@{@Model.VrijePlaatsen}" />*@
                @*@Html.ValidationMessage("aantalPlaatsen", "Gelieve minstens 1 en max " + Model.VrijePlaatsen + " tickets te bestellen", new { @class = "text-danger field-validation-valid", @data_valmsg_replace = "true"  @data_val_msg_for = "aantalPlaatsen"})*@
                @Html.TextBox("aantalPlaatsen", @aantal , new { @class = "form-control valid", @data_val = "true", @data_val_range = "Gelieve minstens 1 en max " + Model.VrijePlaatsen + " tickets te bestellen", @data_val_range_min = "1", @data_val_range_max = Model.VrijePlaatsen, @required = "required",  @data_val_required = "Dit veld is verplicht"})
                <span class="field-validation-valid text-danger" data-valmsg-for="aantalPlaatsen" data-valmsg-replace="true"></span>



            </div>
        </div>
        <div class="ReservatieForm-Btns">
            @if (Model.VrijePlaatsen > 0)
            {
                <input value="Reserveren" type="submit" class="btn btn-success" />
            }
            else
            {
                <h2 class="alert-danger">Geen plaatsen meer beschikbaar</h2>
            }

        </div>
    }

</div>

